apiVersion: apps/v1
kind: Deployment
metadata:
  name: task-app
  namespace: task-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: task-app
  template:
    metadata:
      labels:
        app: task-app
    spec:
      containers:
      - name: task-app
        image: nikhil4101/task-app:latest
        ports:
        - containerPort: 5000
